<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>



</head>

<body>
    <div id="app">
        <h1>FreeCycle!</h1>
    
            <div class = "comment-box">
                <p>Post your item </p>
                <form>
                    <input v-model="item.user_id" name="user_id" placeholder="Enter your user id" />
                    <input v-model="item.keywords" name="keywords" placeholder="keywords" />
                    <input v-model="item.description" name="description" placeholder="description" />
                    <input v-model="item.lat" name="lat" placeholder="lat" />
                    <input v-model="item.lon" name="lon" placeholder="lon" />
                    <button type = "submit">Post Item</button>
                </form>
            </div>       
    </div>

    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>

    <script>
        const { createApp, ref } = Vue
        createApp({
            setup() {
                const message = ref('Hello vue!')
                return {
                    message,
                    item: {
                        id: 0,
                        user_id: " ",
                        keywords: " ",
                        description: " ",
                        lat: " ",
                        lon: " ",
                    }
                }
            }
        }).mount('#app')
    </script>
</body>

</html>
